extends layout 

block content 
  div(class="relative flex flex-col justify-center overflow-hidden my-4")
    div(class="w-full p-6 m-auto bg-neutral rounded-md shadow-md lg:max-w-xl ")
      h1(class="text-3xl font-semibold text-center text-purple-700") DaisyUI
      form(class="space-y-4 signupForm")
        div
          label(class="label")
            span(class="text-base label-text") Name
          input(type="text" placeholder="Name" name="uName" class="w-full input input-bordered input-primary")
        div
          label(class="label")
            span(class="text-base label-text") Email
          input(type="text" placeholder="Email Address" name="email" class="w-full input input-bordered input-primary")
        div
          label(class="label")
            span(class="text-base label-text") Password
          input(type="password" placeholder="Enter Password" name="password" class="w-full input input-bordered input-primary")
        div
          label(class="label")
            span(class="text-base label-text") Confirm Password
          input(type="password" placeholder="Confirm Password" name="passwordConfirm" class="w-full input input-bordered input-primary")
        div
          button(class="btn btn-block btn-primary signupBtn") Sign Up
        span
          | Already have an account ?
          a(href="/login" class="text-blue-600 hover:text-blue-800 hover:underline") Login
